/* Attribute selectors */
a[title] {
    color: red;
}

a[href="https://www.facebook.com"] {
    color: green;
}

div[lang~="en-us"] {
    color: blue;
}    

/* Universal selectors */
*#maincontent {
    border: 1px solid orange;
}  

*[lang^="en"] {
    color: green;
  }
  
  *.warning {
    color: red;
  }

  /* Nesting selectors */
  .example {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
  }
  
  .example > a {
    color: tomato;
  }
  .example > a:hover,
.example > a:focus {
  color: ivory;
  background-color: tomato;
}